@import '~font-awesome';


/*****   DATA TABLE  ******/
.sorting,
.sorting_asc,
.sorting_desc,
.sorting_asc_disabled,
.sorting_desc_disabled {
    cursor:pointer;
    *cursor:hand;
    background-repeat:no-repeat;
    background-position:center right
}

.sorting{
    background-image: url('../images/sort_both.png');
}
.sorting_asc{
    background-image: url('../images/sort_asc.png');
}
.sorting_desc{
    background-image: url('../images/sort_desc.png');
}
/****    END BLOCK  ****/

/****    TOASTIFY   ****/
.Toastify__toast--success {
    background: rgba(30, 191, 30, 0.98);
}
/*.Toastify__toast-container {*/
/*    margin-top: 15%;*/
/*}*/
